.places__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .places__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 320px) {
  .places__paragraph {
    white-space: pre-line;
  }
}
