.photo-grid__photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, 284px);
  gap: 16px;
  justify-content: center;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid__photos {
    gap: 14px;
    grid-template-columns: repeat(auto-fit, 300px);
  }
}

@media screen and (max-width: 768px) {
  .photo-grid__photos {
    gap: 16px;
    grid-template-columns: repeat(auto-fit, 352px);
  }
}

@media screen and (max-width: 720px) {
  .photo-grid__photos {
    gap: 12px;
    grid-template-columns: repeat(auto-fit, 320px);
  }
}

@media screen and (max-width: 320px) {
  .photo-grid__photos {
    gap: 12px;
    grid-template-columns: repeat(auto-fit, 288px);
  }
}
