.lead {
  max-width: 984px;
  margin: 0 auto 92px auto;
  padding: 0 48px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    padding: 0;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    margin-bottom: 64px;
  }
}
