.lead {
  max-width: 984px;
  margin: auto;
  padding: 0 48px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
  }
}
