.header__logo {
  width: 176px;
  height: 52px;
  background: url("../../../images/__logo.svg") no-repeat center / cover;
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
