.content {
  max-width: 1280px;
  margin: 56px auto 92px auto;
  display: flex;
  flex-direction: column;
  gap: 92px;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .content {
    margin-top: 48px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    margin-bottom: 88px;
    gap: 88px;
  }
}

@media screen and (max-width: 320px) {
  .content {
    gap: 64px;
    margin-bottom: 64px;
  }
}
