.place__paragraphs {
  display: grid;
  align-content: start;
  gap: 26px;
}

@media screen and (max-width: 768px) {
  .place__paragraphs {
    gap: 25px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraphs {
    margin: 0 16px;
  }
}
