.footer__links {
  display: inherit;
  gap: 19px;
}

@media screen and (max-width: 720px) and (min-width: 320px) {
  .footer__links {
    flex-direction: column;
  }
}

@media screen and  (max-width: 320px) {
  .footer__links {
    gap: 32px;
    margin-bottom: 48px;
  }
}
