.intro {
  max-width: 984px;
  padding-right: calc((984 - 690) / 1280 * 100%);
  box-sizing: border-box;
  margin: auto;
}

@media screen and (max-width: 1279px) {
  .intro {
    max-width: 928px;
    padding-right: calc((928 - 690) / 1024 * 100%);
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 0 calc(24/768 * 100%);
  }
}

@media screen and (max-width: 380px) {
  .intro {
    padding: 0 16px;
  }
}
