.cover__overlay {
  min-height: 740px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 32px;
  color: #FFF;
  background-size: 100%;
  background-image: url("../../../images/1280/trains-1280.jpg");
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.cover__overlay::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: .3;
  left: 0;
  top: 0;
  transition: opacity linear .4s;
  z-index: -1;
}

.cover__overlay:hover::after {
  opacity: .8;
}


@media screen and (max-width: 1280px){
  .cover__background {
    min-height: calc(100vw * 740 / 1280);
  }
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    min-height: calc(100vw * 640 / 1024);
    background-image: url("../../../images/1024/trains-1024.jpg");
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    min-height: calc(100vw * 480 / 768);
    background-image: url("../../../images/768/trains-768.jpg");
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    gap: 16px;
    background-image: url("../../../images/320/trains-320.jpg");
  }
}
