.cover__overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(42, 44, 47, 0.3);
  text-align: center;
  gap: 32px;
  color: #FFF;
  text-decoration: none;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    gap: 16px;
    white-space: pre-line;
  }
}
