.footer {
  display: flex;
  max-width: 1280px;
  margin: auto;
  padding: 0 48px;
  box-sizing: border-box;
  justify-content: space-between;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 0 16px;
  }
}
